@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee Shade";
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
}
h1:first-of-type {
  font-size: 70px;
}
h1:last-of-type {
  font-size: 50px;
}
